<h2>New Contact</h2>

<form action="/contacts" method="post">
  <div>
    First Name: <input type="text" name="first_name">
  </div>
  <div>
    Middle Name: <input type="text" name="middle_name">
  </div>
  <div>
    Last Name: <input type="text" name="last_name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Phone Number: <input type="text" name="phone_number">
  </div>
  <div>
    Groups: <input type="text" name="groups">
  </div>
  <div>
    Bio: <input type="text" name="bio">
  </div>
  <div>
    Latitude: <input type="text" name="latitude">
  </div>
  <div>
    Longitude: <input type="text" name="longitude">
  </div>
  <div>
    <button type="submit">Create Contact</button>
  </div>
</form>
